<form action="/stations" method="POST">
  Name: <input type="text" name="station[stationName]"></br>
  Total Docks: <input type="text" name="station[totalDocks]"></br>
  Latitude: <input type="text" name="station[latitude]"></br></br>
  Longitude: <input type="text" name="station[longitude]"></br>
  Available Bikes:  <input type="text" name="station[availableBikes]"></br>

  <input type="submit">
</form>